<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[zuan]</key>
	<string>zuan</string>
	<key>[zan]</key>
	<string>zan</string>
	<key>[xin]</key>
	<string>xin</string>
</dict>
</plist>
